#background {
    position: fixed;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

#background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#background::after {
    content: '';/*Nao vai ter nada, mas o conteiner vai continuar funcionando ex para o fundo mais escuro*/

    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0; /* cobre 100% da container, útil para criar sobreposições (overlays), modais, efeitos de fundo, etc.*/
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.988) 15%, rgba(10,12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    z-index: 0;
}

