

h1{
    color: var(--branco);
    font-weight: 400;
    font-size: 60px;


}
#hole{
    color: transparent;
    -webkit-text-stroke: 1px var(--branco);
    font-weight: 400;
    font-size: 60px;
}





.conteiner{
    display: flex;
    background-color:transparent;
    max-width: 1000px;
    height: 260px;
    margin: auto;
    backdrop-filter: blur(50px);
    border-radius: 20px;
    transform: translateY(410PX);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);

}

.interior{
    display: flex;
    align-items: center;
    padding: 5px 15px 0px 15px;
    margin: 14px;
}

img{
    width: 130px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
}

p{
    padding: 10px 8px 2px 10px;
    color: var(--branco);
    font-size: 14px;
}

.buttons{
    text-decoration: none;
    color: var(--branco);
    margin: 1em 0px 10px 20px;
    font-size: medium;
    font-weight: 300;
    text-transform: uppercase;


    transform: skew(-12deg);
}



#button1{
    border: 2px solid var(--buttons);
    background-color: transparent;
    border-radius: 2px;
    padding: 7px;
    
}

#button2{
    border: 2px solid var(--buttons);
    background-color: transparent;
    border-radius: 2px;
    padding: 7px;
}