@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

:root{
    --cor-1: #ff00dd;
    --cor-2: #ff02d5;
    --cor-3:  #ff00dd;
    --cor-: #ff00dd;
}


