@media screen and (max-width: 992px ){

    *{
        padding: 10px;
    }
    #mario_luige, .navigation, .navigation_social{
        display: none;
    }

    #logo_movie{
        display: block;
        margin: auto;
        width: 230px;
        
    }
    
    main{
        display: flex;
        flex-flow: column nowrap;
        padding: 10px;
        margin: auto;

    }

    .main_info p{
        margin-left: 8%;
        font-size: 16px;
        width: 80vw;
        max-width: 500px;
    }
} 