
header{
    display: flex;
    justify-content: space-between;

}

header>img{
    width: 200px;
    height: 100px;
}

header > nav{
    display: flex;
    gap: 20px;
    margin: 30px;
}

header > nav > a{
    text-decoration: none;
    color: var(--cor_texto);
}
