*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100vw;
    height: 700px;
    animation: view;
    animation-name: aumento;

}

.escrita{
    height: 600px;
}

@keyframes aumento{
    0%{
        width:400px;
    }
    60%{
        width: 480px;
    }
    100%{
        width: 100vw;
    }
}